* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0e0e0e;
    --secondary-color: #efecec;
    --accent1-color: #90e0ef;
    --heading-font: "Times New Roman", "Georgia", "Serif";
    --body-font: Ariel, Helvetica, sans-serif;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
    width: auto;
}

header, main, footer {
    width: 840px;
    margin: 0 auto; /*limits the page width by combining the above mentioned elements and centering the content on the display using an auto left-right margin*/
}

header {
    padding: 5px;
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: 1fr 20fr;
    align-items: center;
}
header img {
    border-radius: 10px;
    margin: 0 0 0 10px;
}

ul {
    display: flex;
    justify-content: space-around;    
}

 li {
    text-decoration: none;
    list-style: none;
    font-family: var(--heading-font);
    font-size: larger;
}
li:hover{
    background-color: rgb(146, 188, 212);
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 1px;
    padding: 5px;
}


.hero {
    position: relative;
}
 .hero img {
    display: block;
    width: 100%;
    height: auto;
 }

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
}

h2 {
    margin: 1px;
    text-align: center;
    padding: 10px;
}

.hero article {
    position: absolute;
    top: 74%;
    background-color: var(--accent1-color);
    opacity: 0.7;
}

.hero article img {
    float: right;
    width: 150px;
    margin-top: 20px;
}

.history {
    max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  position: relative; /* Avoid absolute unless necessary */
  display: grid;
  grid-template-columns: repeat(3, 2fr);

}
.history h2 {
    grid-column: 1/4;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(6, 2fr);
}
.adventure h2{
    grid-column: 1/7;
}

.game {
    width: 250px;
    padding: 0.5rem;
    background-color: var(--secondary-color);
    color: #333;
    border-radius: 8px;/*curves the frame edges*/
    margin: 0 2px 0 0; /*top right bottom left*/
}

.socialmedia {
    text-decoration: none;
}
nav a {
    text-decoration: none;
}
footer a{
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: end;
    align-content: space-evenly;
    background-color: var(--accent1-color);
}

/* contact us css */
address {
    margin: 3px;
    text-align: center;
}
  .map-form {
max-width: 100%;
  margin: 0 auto;
  padding: 5px;
  display: grid;
  grid-template-columns: 2fr 2fr;

  }
  .map {
  background-color: #d9f0ff;
  border: 2px dashed #90e0ef;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0077b6;
}


  form {
padding: 10px;
margin: 10px;
}


form input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
}

.box label  {
    display: grid;
    grid-template-columns: 100px 2fr;
    margin: 10px;
}

input, select, button {
    padding: 0.5rem;
    border-radius: 5px;
}
textarea {
    width: 400px;
    padding: 0.5rem;
}

.purpose {
   display: grid;
    grid-template-columns: 100px 2fr;
    padding: 10px;

  

}

 button {
        background-color: blue;
        color: #fff;
        width: 400px;
        cursor: pointer;
        margin-top: 20px;
    }


.staff {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 5px;
    border: 1px solid rgb(0 0 0 / 10%);
    margin: 1px;
    text-align: center;
}
 .staff h2 {
    grid-column: 1/5;
 }


.employee {
    width: 280px;
    padding: 0.5rem;
    color: #333;
    border-radius: 8px;/*curves the frame edges*/
    margin: 0 2px 0 0; /*top right bottom left*/
}

figure img{
box-shadow:5px 5px 10px gray;
border-radius: 5px;
}