* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0e0e0e;
    --secondary-color: white;
    --accent1-color: #e7d404;
    --heading-font: "Times New Roman", "Georgia", "Serif";
    --body-font: Ariel, Helvetica, sans-serif;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
    width: auto;
}

header, main, footer {
    width: 840px;
    margin: 0 auto; /*limits the page width by combining the above mentioned elements and centering the content on the display using an auto left-right margin*/
}

header {
    background-color: var(--secondary-color);
    padding: 5px;
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: 1fr 20fr;
    align-items: center;
}
header img {
    border-radius: 10px;
    margin: 0 0 0 10px;
}

ul {
    display: flex;
    justify-content: space-around;    
}

 li {
    text-decoration: none;
    list-style: none;
    font-family: var(--heading-font);
    font-size: larger;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 1px;
    padding: 5px;
}


.hero {
    position: relative;
}
 .hero img {
    display: block;
    width: 100%;
    height: auto;
 }

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
}

h2 {
    margin: 1px;
    text-align: center;
    padding: 10px;
}

.hero article {
    position: absolute;
    top: 74%;
    background-color: var(--accent1-color);
    opacity: 0.7;
}

.hero article img {
    float: right;
    width: 150px;
    margin-top: 20px;
}

.history {
    max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  position: relative; /* Avoid absolute unless necessary */
  display: grid;
  grid-template-columns: repeat(3, 2fr);

}

.adventure {
    display: flex;
    margin-left: 0;
}

.game {
      width: 400px;
    padding: 0.5rem;
    background-color: #efecec;
    color: #333;
    border-radius: 8px;/*curves the frame edges*/
    margin: 0 2px 0 0; /*top right bottom left*/
}


footer {
    display: flex;
    justify-content: end;
    align-content: space-evenly;
    background-color: var(--accent1-color);
}