* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0e0e0e;
    --secondary-color: #efecec;
    --accent1-color: #f0eeee;
     --accent2-color: rgb(2, 2, 88);
    --heading-font: "Times New Roman", "Georgia", "Serif";
    --body-font: Ariel, Helvetica, sans-serif;
     --blue-button-color: #0073e6;
    --blue-button-hover-color: #005bb5;


}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
    width: auto;
}

header, main, footer {
    width: 900px;
    margin: 0 auto; /*limits the page width by combining the above mentioned elements and centering the content on the display using an auto left-right margin*/
}

header {
    padding: 5px;
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: 1fr 20fr;
    align-items: center;
    border: 1px solid rgb(0 0 0 / 10%);
}
header img {
    border-radius: 10px;
    margin: 0 0 0 10px;
}

 header ul {
    display: flex;
    justify-content: space-around;    
}

 header li {
    text-decoration: none;
    list-style: none;
    font-family: var(--heading-font);
    font-size: larger;
}
li:hover{
    background-color: rgb(146, 188, 212);
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

nav, p, section, article {
    margin: 1px;
    padding: 5px;
}

a {
    text-decoration: none;
    
}

.hero {
    position: relative;
}
 .hero img {
    display: block;
    width: 100%;
    height: auto;
 }

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent2-color);
  color:var(--accent1-color) ;
}

h2 {
    margin: 1px;
    text-align: center;
    padding: 10px;
}
/* about us page css */

.hero article {
    position: absolute;
    top: 74%;
    background-color: var(--accent2-color);
    color: var(--accent1-color);
    opacity: 0.7;
}

.hero article img {
    float: right;
    width: 150px;
    margin-top: 20px;
}

.history {
    max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  position: relative; /* Avoid absolute unless necessary */
  display: grid;
  grid-template-columns: repeat(3, 2fr);

}
.history h2 {
    grid-column: 1/4;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(6, 2fr);
}
.adventure h2{
    grid-column: 1/7;
}

.game {
    padding: 0.5rem;
    background-color: var(--secondary-color);
    color: #333;
    border-radius: 8px;/*curves the frame edges*/
    margin: 0 2px 0 0; /*top right bottom left*/
}

.socialmedia {
    text-decoration: none;
}
nav a {
    text-decoration: none;
}
footer a{
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: end;
    align-content: space-evenly;
    background-color: var(--accent1-color);
}

/* contact us css */
address {
    margin: 3px;
    text-align: center;
}
  .map-form {
max-width: 100%;
  margin: 0 auto;
  padding: 5px;
  display: grid;
  grid-template-columns: 2fr 2fr;

  }
  .map {
  background-color: #d9f0ff;
  border: 2px dashed #90e0ef;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0077b6;
}


  form {
padding: 10px;
margin: 10px;
}


form input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
}

.box label  {
    display: grid;
    grid-template-columns: 100px 2fr;
    margin: 10px;
}

input, select, button {
    padding: 0.5rem;
    border-radius: 5px;
}
textarea {
    width: 400px;
    padding: 0.5rem;
}

.purpose {
   display: grid;
    grid-template-columns: 100px 2fr;
    padding: 10px;

}

 button {
        background-color: blue;
        color: #fff;
        width: 400px;
        cursor: pointer;
        margin-top: 20px;
    }


.staff {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 5px;
    border: 1px solid rgb(0 0 0 / 10%);
    margin: 1px;
    text-align: center;
}
 .staff h2 {
    grid-column: 1/5;
 }


.employee {
    width: 100%;
    padding: 0.3rem;
    color: #333;
    border-radius: 8px;/*curves the frame edges*/
margin-left: 30px; 
}
.figure-img{
box-shadow:1px 1px 5px gray;
border-radius: 5px;
width: 100%;
}

/* Index page css */
.index-hero {
    position: relative;
}
.index-hero img{
     display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.index-hero h1{
 position: absolute;
 width: 100%;
  top: 25%;
  padding: 10px;
  text-align: center;
  opacity: 0.8;
  font-size: 7rem;
  font-weight: bold;
  color: red;
}
.index-hero p {
    position: absolute;
  top: 25%;          
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  text-align: center;
  width: 80%;        /* renders the text narrower than heading */
    color: red;

}
.newsletter {
  background: black;   
  color: #fff;   
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.newsletter h2 {
  text-align: left;
  color: #fff;
}

.newsletter p {
  color: #fff;
}
.newsletter form{
    grid-template-columns: 2fr 2fr;
}

.newsletter input{
    margin: 5px;
    width: 80%;
}

.newsletter button {
  padding: 0.5rem 1rem;
  background: var(--blue-button-color);
  color: white;
  border: none;
  border-radius: 3px;
  margin-left: 3.5rem;
  cursor: pointer;
  width: 80%;
}

.newsletter button:hover {
  background: var(--blue-button-hover-color);
}

.invitation {
  color: #fff;
  grid-row: 1/4;
}
.invitation img{
    width: 370px;
    position: absolute;
}
.invitation h3{
    background-color: red;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    width: 50%;
    position: relative;
    color: #fff;
    top: 70%;
    left: 22%;
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
    font-family: var(--heading-font);
}
.invitation h3:hover{
    background: rgb(168, 0, 0);
    /* transform: scale(1.1);  */
    /* filter: brightness(1.2); changes the brightness of the hovered content */
}

.invitation a{
    text-decoration: none;
}

.offerings {
  display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 1px;
    text-align: center;
    background: black;   
    
}
.offer{
    margin:5px 2px;
    width: 295px;
    color: #333;
    border-radius: 8px;/*curves the frame edges*/
    border-bottom-right-radius: 8px;/*curves the frame edges*/
    background:#fff;
    border: 1px solid rgb(0 0 0 / 10%);
    }
.offer img{
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
figcaption{
    padding: 5px;
    text-align: left;
    font-size: small;
}

figcaption h4{
    margin: 10px;
}
figcaption a{
    text-decoration: none;
}
 figcaption a:hover{
    text-decoration: underline;
 }

 /* trips page css */
 .choose-river {
/* background: linear-gradient(to right, black, purple); */
background: rgb(2, 2, 88);
    padding: 80px;
 }
 .choose-river h1{
    text-align: left;
    color: #fff;
    font-weight: bolder;
 }
 .locations-note{
    width: 100%;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    padding: 5px;

}
.sections-unit {
    border-bottom:1px solid var(--accent2-color);
    margin: 0 0;
    clear: both;
}
.side-caption {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    background-color: var(--accent2-color);
    color: var(--accent1-color);
    margin-top: 15px;
    }
.side-caption img{
    width: 50%;
}
.book-now {
margin: 10px;

    
}
.book-now a {
    text-decoration: none;
    color: var(--accent1-color);
    background-color: rgb(194, 9, 9);
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    width: 100px;
    color: #fff;
    text-decoration: none;
    font-family: var(--heading-font);
    float: right;
}

.book-now a:hover{
        background: rgb(168, 0, 0);

}
.tabular{
    clear: both;

}
.tabular table {
    width: 50%;
    border-collapse: collapse;
    border: 1px solid rgb(140, 140, 140);
    letter-spacing: 2px;
    float: right;
}

th, td {
border: 1px solid rgb(150, 150, 150);
padding: 8px 12px;
text-align: center;
}

tfoot tr, thead tr {
    background-color: var(--accent2-color);
    color: aliceblue;
    font-weight: 700;
}
tr:nth-child(even) {
  background-color: rgb(240, 237, 237);
}

.rivers {
    width: 30%;
    border: 5px solid rgb(168 0 0 / 50%);
    margin-bottom: 30px;
    background-color: rgb(240, 237, 237);
}

.river {
    width: 100%;
    border-top: 1px solid var(--accent2-color);
    padding: 10%;

}

.request-info a {
    text-decoration: none;
    color: var(--accent1-color);
    border-radius: 10px;
    border: 2px solid rgb(168, 0, 0);
    text-align: center;
    padding: 20px;
    width: 200px;
    color: rgb(194, 9, 9);
    text-decoration: none;
    font-family: var(--heading-font);
    font-size: larger;
    margin: 5px;
}

.request-info a:hover{
        background: rgb(168, 0, 0);
        color: #fff;
}
