* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0e0e0e;
    --secondary-color: white;
    --accent1-color: #e7d404;
    --heading-font: "Times New Roman", "Georgia", "Serif";
    --body-font: Ariel, Helvetica, sans-serif;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
    width: auto;
}
header {
    background-color: var(--secondary-color);
    padding: 5px;
}
header, main, footer {
    width: 840px;
    margin:0 auto; /*limits the page width by combining the above mentioned elements and centering the content on the display using an auto left-right margin*/
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 5px;
    padding: 5px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}
 .hero img {
    display: block;
    width: 100%;
    height: auto;
 }

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
}

h2 {
    background-color: #e7d404;
    text-align: center;
    padding: 10px;
}

.hero article {
    position: absolute;
    top: 60%;
    background-color: #e7d404;
    opacity: 0.7;
    
}

.hero article img {
    float: right;
    width: 150px;
    margin-top: 20px;
}