:root {
    --primary-color: #079aef;
    --secondary-color: #f4a261;
    --accent1-color: #e7d404;
    --accent2-color: #e31212;
    --heading-font: "Times New Roman", "Georgia", "Serif";
    --body-font: Ariel, Helvetica, sans-serif;

}

* {
    margin: 0;
    pad: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: black;
    width: auto;
}

header, main, footer {
    width: auto;
    margin:0 10px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}
 .hero img {
    display: block;
    width: 100%;
    height: auto;
 }

 
h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.9;
  background-color: var(--accent1-color);
  color: #fff; 
}

h2 {
    background-color: #e7d404;
    text-align: center;
    padding: 10px;
}

article {
    position: absolute;
    top:70%;
    background-color: #e7d404;
    opacity: 0.7;
    
}

.hero article img {
    float: right;
    width: 150px;
}