* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 500px;
    background-color: white;
    color: rgb(32, 30, 30);
}

h1 {
    padding: .5px;
}

form {
    background-color: rgb(237, 237, 237);
    color: black;
    }

input, textarea, select, button {
    padding: 0.75rem;
    min-width: 300px;
}

    code {
        display: block;
        background-color: #000;
        color: #fff;
        max-width: 250px;
    }


    .box {
    margin: 5px;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    }

    .quiz-item {
         border: none;
    }
    button {
        background-color: blue;
        color: #fff;
        border-radius: 0.75rem;
        box-shadow: rgb(0 0 0 / 10%);
    }
