* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 500px;
    background-color: white;
    color: rgb(32, 30, 30);
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    padding: .5px;
    font-weight: 700;
    color: navy;
}

form {
    background-color: rgb(237, 237, 237);
    color: black;
    }

input, textarea, select, button {
    padding: 0.75rem;
    min-width: 300px;
}

    code {
        display: block;
        background-color: #000;
        color: #fff;
        max-width: 250px;
        margin: 5px 20px 5px ;
        padding: 10px;
        text-align: center;
    }


    .box {
    margin: 5px;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 5px;
    }

    .quiz-item {
         border: none;
    }
    button {
        background-color: blue;
        color: #fff;
        border-radius: 0.75rem;
        box-shadow: rgb(0 0 0 / 10%);
    }
