body {
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    margin: 0;
}

.grid-container {
    background-color:lightblue;
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr; /* or repeat (3, 2fr)*/
    gap: 5px
    ;
}

/* .grid-container-child {
    background-color: bisque;
    border: 1px solid;
    text-align: center;
    padding: 20px;
} */
 .item-1 {
        background-color: bisque;
        padding: 20px;
        text-align: center;
        grid-column: 1/3; /*this explicitly places the item on from column 1-3*/
        grid-row: 1/3; /*this explicitly places the item on from row 1-3*/
 }

 .item-2 {
          background-color: rgb(242, 13, 13);
        padding: 20px;
        text-align: center;
        grid-column: 3/4;
        grid-row: 1/2;
 }
