main {
    width: 75vw;
    margin: 1rem auto;
    background-color: #eee;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / .1);
}

p {
    text-align: justify;
}

.col1 img {
    float: right;    
    margin: 0 0 15px 15px;
    border: 1px solid rgba(0 0 0 / .3);
    box-shadow: 0 0 30px #777;
}

footer {
    border-top: 1px solid #555;
    padding-top: 5px;
    /* Remove the comment below and observe the results. */

    clear: both;
}
.x {
    position: absolute;
    top: 300px;
    left: 500px;
    background-color:#eee;
    
}
 .relate {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(198, 198, 227);
    z-index: 100;
    padding: 10px;
}