* {
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
}
div {
    border: 1px ;
    background-color: rgb(217, 97, 12);
    width: auto;
    padding: 5px;
    align-items: center;/*aligns the items in the center of the div container*/
    justify-content: space-around;
    }

div img {
    margin: 0;
    width: 15%;
    padding: 5px;
    border-radius: 8px;
    
}
div a {
    text-decoration: none;
}

.sidebar {
    height: 1000px;
    width: 5px;
}

main {
    width: auto;
    margin: 0 auto;
}

h1 {
    margin: 10px;
}



section section{
    margin:10px 0 ;
    background-color: rgb(223, 222, 221);
    border: 1px;
    padding: 10px;
}

section h2{
    width: 20%;
    margin: 0;
}

section li{
    width: 400%;
    margin: 5px;
    text-align:left;
    list-style: none;
}
img {
    width: 30%;
    box-shadow: 0 0 30px #333;
}

footer {
    border-top: 1px solid;
    text-align: center;
        background-color: rgb(217, 97, 12);
        padding: 5px;

}