* {
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
}
div {
    border: 1px ;
    background-color: rgb(50, 175, 200);
    width: auto;
    padding: 5px;
    }

div img {
    margin: 0;
    width: 15%;

}

.sidebar {
    height: 1000px;
    width: 5px;
}

main {
    width: auto;
    margin: 0 auto;
}

h1 {
    margin: 10px;
    text-align: center;
}



section section{
    margin:10px 0 ;
    background-color:skyblue;
    border: 1px;
    padding: 10px;
}

section h2{
    width: 20%;
    margin: 0;
}

section li{
    width: 400%;
    margin: 5px;
    text-align:left;
}
img {
    width: 15%;
}

footer {
    margin: 100px;
    border-top: 1px solid;
    text-align: center;
}