* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem;
    font-family: monospace;
    font-size: 1.2rem;
}

div {
    margin: 1rem;
    border: 1px dashed;
    padding: 1rem;
}

.one {
    width: 200px;
    height: 200px;
}

.flex {
    background-color: #aba;
    display: flex;/* write declarations here */
    align-items: center;
    justify-content: center;

}

.grid {
    background-color: #abb;
    display: grid;/* enter declarations here */
    align-items: center;
    justify-content: center;
    /* place-items: center; */

}

.container2 {
    /* write declarations here */
    display: flex;
    justify-content: space-around;
    

}

.two {
    background-color: #ace;
    height: 100px;
}

.container3 {
    /* write declarations here */
    display: grid;
    grid-template-columns: repeat(3, 2fr);

}

.columns-3 {
    /* write declaration here */
    grid-column: 1/4;
    text-align: center;

}

.three {
    margin: .25rem;
    background-color: #abd;
}