

/* primary brand colors : orange (#F931E), white, dark brown or wood texture (#4B2E1E)

Accent colors: sun yellow(#FFD700) for highlights, hover effects, 
Light gray (#F0F0F0) for subtle background or section dividers and borders.
dark gray (#333333) for text or footer areas to maintain readability
earthy tone wood brown(#4B2E1E) decorative elements

*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #f88b0f;
    --primary-color2: #772f07;
    --first-font-color: #efecec;
    --second-font-color: #333333;
     --accent-color: #d5b606;
    --heading-font: "Times New Roman", "Georgia", "Serif";
    --body-font: Ariel, Helvetica, sans-serif;
     --blue-button-color: #0073e6;
    --blue-button-hover-color: #005bb5;
    
}

/* Smartphones (portrait and small devices) */
@media (max-width: 480px) {
  /* Styles for most smartphones */
     figure {
            flex-direction: column;
            /* caption goes below image */
            align-items: center;
            /* center both */
            text-align: center;
            /* center caption text */
        }
}

/* Large smartphones / small tablets */
@media (min-width: 481px) and (max-width: 767px) {
  /* Styles for bigger phones and phablets */
}

/* Tablets (portrait and landscape) */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Styles for iPads and similar tablets */
}

/* Small laptops / desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  /* Styles for ultrabooks, smaller monitors */
}

/* Large desktops and wide screens */
@media (min-width: 1281px) {
  /* Styles for big monitors */
}

body{
    max-width: 100%;
    font-family: var(--body-font);
    color: var(--second-font-color);
    width: auto;
    }

header{
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    font-family: var(--heading-font);
    font-size: larger;
    padding: 2px;
    background-color: var(--primary-color);
    z-index: 1000;
}

header ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

main{
    padding: 1rem;
}

a{
    text-decoration: none;    
}
 header li:hover{
        transform: scale(1.1); 
    /* filter: brightness(1.2); changes the brightness of the hovered content */
}

/* INDEX PAGE CSS */
.hero {
    position: relative;
    background-image: url("../images/happy-family.jpg");
    background-size:cover ;
    min-height: 70vh;
}

 .hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(39, 39, 39, 0.3); /* blue with 50% opacity */
  z-index: 1;
} 
.hero h1{
    width: 600px;
    top: 50px;
    left: 5%;
    position: relative;
    font-family: var(--heading-font);
    font-size: 4em;
    color: var(--first-font-color);
    z-index: 2;
}

.hero p{
    position: relative;
    width: 600px;
    top: 60px;
    left: 5%;
    color: var(--first-font-color);
    font-weight: bolder;
    justify-content: center;
    margin-left: 20px;
    z-index: 2;
    font-size: 2em;

}

.sales-figure {
    max-width: 400%;
    margin: 0 auto;
    display: flex;
    margin-top: 5px;
    background-color: var(--primary-color);
    color: black;
    box-sizing: border-box;
}
.sales-figure img{
    width: 50%;
}
.sales-figure figcaption{
    padding: 25px;
    font-family: var(--heading-font);
}
.sales-figure h2{
    max-width: 400px;
    margin: 5px  0;
    font-weight: bolder;
    font-size: 2.5em;
}
.sales-figure p{
    justify-content: center;
    line-height: 1.4;
}

.sales-figure ul{
    width: 100%;
    line-height: 1.8;
    margin: 0 10px;
}

.products a {
    color: var(--first-font-color);
    background-color: rgb(194, 9, 9);
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    font-family: var(--body-font);
}

.products a:hover{
        background: rgb(33, 2, 2);
}

.solution{
width: 50%;
margin: 20px auto;
font-family: var(--heading-font);

}

.solution h3{
    text-align: center;
    font-weight: bolder;
    font-size: 2.5em;
    margin: 10px;
}
.solution p{
    justify-content: center;
    text-align: center;
    line-height: 1.5;
    font-size: 1.3em;
}

footer{
    border-top: 1px solid #000;
    display: flex;
    justify-content: space-around;
}