

/* primary brand colors : orange (#F931E), white, dark brown or wood texture (#4B2E1E)

Accent colors: sun yellow(#FFD700) for highlights, hover effects, 
Light gray (#F0F0F0) for subtle background or section dividers and borders.
dark gray (#333333) for text or footer areas to maintain readability
earthy tone wood brown(#4B2E1E) decorative elements

*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #f88b0f;
    --primary-color2: #772f07;
    --first-font-color: #efecec;
    --second-font-color: #333333;
     --accent-color: #d5b606;
    --heading-font: "Times New Roman", "Georgia", "Serif";
    --body-font: Ariel, Helvetica, sans-serif;
     --blue-button-color: #0073e6;
    --blue-button-hover-color: #005bb5;
    
}
body{
    font-family: var(--body-font);
    color: var(--second-font-color);
    width: auto;
    }

header{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    font-family: var(--heading-font);
    font-size: larger;
    padding: 20px;
    background-color: var(--primary-color);
}

header ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

a{
    text-decoration: none;    
}
 header li:hover{
        transform: scale(1.1); 
    /* filter: brightness(1.2); changes the brightness of the hovered content */
}

.hero {
    position: relative;
    background-image: url("../images/happy-family.jpg");
    background-size:cover ;
    min-height: 70vh;
}

 .hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(39, 39, 39, 0.3); /* blue with 50% opacity */
  z-index: 1;
} 
.hero h1{
    width: 600px;
    top: 50px;
    left: 5%;
    position: relative;
    font-family: var(--heading-font);
    font-size: 4em;
    letter-spacing: 0.1em;
    color: var(--first-font-color);
    z-index: 2;
}

.hero p{
    position: relative;
    width: 600px;
    top: 60px;
    left: 5%;
    color: white;
    font-weight: bolder;
    justify-content: center;
    margin-left: 20px;
    z-index: 2;
    font-size: 2em;
    letter-spacing: 0.1em;

}

main{
    width: 1500px;
    margin: 0 auto;
}
.sales-figure {
    display: flex;
    gap: 1rem;
    margin-top: 5px;
    background-color: var(--primary-color);
    color: black;
}
.sales-figure img{
    width: 50%;
}
.sales-figure figcaption{
    padding: 50px;
    font-family: var(--heading-font);
}
.sales-figure h2{
    margin: 15px 0 15px 0;
    font-weight: bolder;
    font-size: 3em;
}
.sales-figure p{
    width: 650px;
    justify-content: center;
    line-height: 1.8;

}

.sales-figure ul{
    line-height: 1.8;
    margin: 5px 50px 20px;
}

.products a {
    color: var(--first-font-color);
    background-color: rgb(194, 9, 9);
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    margin: 50px;
    font-family: var(--body-font);
}

.products a:hover{
        background: rgb(33, 2, 2);
}
footer{
    border-top: 1px solid #000;
    display: flex;
    justify-content: space-around;

}