aside{
    position: relative;
    top: 20px;
    left: 50px;
    border: 1px;
    background-color: antiquewhite;
    width: 400px;
    padding: 30px;
    height: 200px;
}

aside p{
    position: absolute;
    top: 150px;
    left: 100px;
}