body {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: rgb(3, 59, 104);
    margin: 2px;
    color: aliceblue;
}

nav a {
    color: rgb(14, 3, 3);
    display: block;
    padding: 5px;
    color: aliceblue;
    margin: 10px;
}

main {
    width: 400px;
    
}

main img{
    width: 150px;
    height: auto;
    margin: 1rem;
}

main p {
    text-align: center;
    margin: 1rem;
}

h1 {
    color: black;
    margin: 0;
}

img {
    margin-top: 5px;
    width: 100;
    height: auto;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0/0.2 );
    padding: 1rem;
    background-color: #eee;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
    margin: 0;
    width: 20rem;
}

footer{
    margin: 15px;
    border-top: 1px solid;
    color: black;
    text-align: center;
}
