* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    background-color: rgb(3, 59, 104);
    margin: 2px;
    color: aliceblue;
}

nav a {
    color: rgb(14, 3, 3);
    display: block;
    padding: 5px;
    color: aliceblue;
    margin: 10px;
}

main {
    width: 400px;
    
}

main img{
    width: 150px;
    height: auto;
    margin: 1rem;
    float: right;

}

main p {
    margin: 1rem;
}

h1 {
    color: black;
    margin: 0;
}

img {
    margin-top: 5px;
    width: 100;
    height: auto;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside {
    width: 20rem;
    padding: 1rem;
    text-align: center;
    position: relative;
}

aside h2{
    position: absolute;
     top: 20px;
  left: 120px;
  color: #ccbbbb;
}

aside img {
    width: 150px;
    height: auto;
}


footer{
    margin: 15px;
    border-top: 1px solid;
    color: black;
    text-align: center;
}

/* Class Selectors*/
.box {
margin: 1rem;
border: 1px solid rgb(0 0 0 / 10% );
padding: 1rem;
background-color: #ddd;
color: #000;

}