* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body  {
    font-size: 100%;
}

header, footer, .grid {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: rgb(3, 59, 104);
    margin: 2px;
    color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: rgb(14, 3, 3);
    display: block;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: aliceblue;
    margin: 0.5rem;
    text-decoration: none;
}

main{
    grid-column: 2/3;
}

main img{
    width: 150px;
    height: auto;
    margin: 1rem;
    float: right;

}

main p {
    margin: 1rem;
}

h1 {
    color: rgb(3, 59, 104);
    margin: 1rem;
    border-bottom: 1px solid;
}


aside {
    width: 23rem;
    padding: 1rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2{
    position: absolute;
     top: 15px;
  left: 190px;
  color: #040404;
}

aside img {
    width: 300px;
}


footer{
    border-top: 1px solid;
    color: black;
    text-align: center;
}

/* Class Selectors*/
.box {
margin: 1rem;
border: 1px solid rgb(0 0 0 / 10% );
padding: 1rem;
background-color: #ddd;
color: #000;
list-style: none;

}

.grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
}